<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sun</key>
	<dict>
		<key>SiderealRotationPeriod</key>
		<integer>0</integer>
		<key>SemiMajorAxis</key>
		<integer>0</integer>
		<key>Radius</key>
		<integer>695500</integer>
		<key>OrbitalPeriod</key>
		<integer>0</integer>
		<key>ColorMapName</key>
		<string>sunmap</string>
		<key>UseLighting</key>
		<false/>
	</dict>
	<key>Mercury</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>57909100</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.573</real>
			<key>Green</key>
			<real>0.384</real>
			<key>Blue</key>
			<real>0.161</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>58.646</real>
		<key>Radius</key>
		<real>2439.7</real>
		<key>OrbitalPeriod</key>
		<real>87.96899999999999</real>
		<key>ColorMapName</key>
		<string>mercurymap</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Venus</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>108208930</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.506</real>
			<key>Green</key>
			<real>0.149</real>
			<key>Blue</key>
			<real>0.11</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>-243.0185</real>
		<key>Radius</key>
		<real>6051.8</real>
		<key>OrbitalPeriod</key>
		<real>224.70069</real>
		<key>ColorMapName</key>
		<string>venusmap</string>
		<key>NormalMapName</key>
		<string>venusNormal</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Earth</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>149598261</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.125</real>
			<key>Green</key>
			<real>0.408</real>
			<key>Blue</key>
			<real>0.6860000000000001</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>1.19726968</real>
		<key>Radius</key>
		<integer>6371</integer>
		<key>OrbitalPeriod</key>
		<real>365.256363004</real>
		<key>ColorMapName</key>
		<string>earthmap1k</string>
		<key>NormalMapName</key>
		<string>earthNormal</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Clouds</key>
	<dict>
		<key>LongitudeOfAscendingNode</key>
		<real>-11.26064</real>
		<key>DailyDeltaLongitudeOfAscendingNode</key>
		<integer>0</integer>
		<key>Inclination</key>
		<real>5e-05</real>
		<key>DailyDeltaInclination</key>
		<integer>0</integer>
		<key>ArgumentOfPerihelion</key>
		<real>282.9404</real>
		<key>DailyDeltaArgumentOfPerihelion</key>
		<real>4.70935e-05</real>
		<key>SemiMajorAxis</key>
		<integer>149598261</integer>
		<key>Eccentricity</key>
		<real>0.016709</real>
		<key>DailyDeltaEccentricity</key>
		<real>-1.151e-09</real>
		<key>MeanAnomaly</key>
		<real>356.047</real>
		<key>DailyDeltaMeanAnomaly</key>
		<real>0.9856002585</real>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.125</real>
			<key>Green</key>
			<real>0.408</real>
			<key>Blue</key>
			<real>0.6860000000000001</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>0.99726968</real>
		<key>Radius</key>
		<integer>6391</integer>
		<key>OrbitalPeriod</key>
		<real>365.256363004</real>
		<key>ColorMapName</key>
		<string>earthClouds</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Moon</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>384399</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.4</real>
			<key>Green</key>
			<real>0.4</real>
			<key>Blue</key>
			<real>0.4</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>27.321582</real>
		<key>Radius</key>
		<real>1737.1</real>
		<key>OrbitalPeriod</key>
		<real>27.321582</real>
		<key>ColorMapName</key>
		<string>moonmap1k</string>
		<key>NormalMapName</key>
		<string>moonNormal</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Mars</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>227939100</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.416</real>
			<key>Green</key>
			<real>0.204</real>
			<key>Blue</key>
			<real>0.145</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>1.025957</real>
		<key>Radius</key>
		<real>3386.2</real>
		<key>OrbitalPeriod</key>
		<real>686.971</real>
		<key>ColorMapName</key>
		<string>marsmap1k</string>
		<key>NormalMapName</key>
		<string>marsNormal</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Jupiter</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>778547200</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.616</real>
			<key>Green</key>
			<real>0.404</real>
			<key>Blue</key>
			<real>0.098</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>0.413541666</real>
		<key>Radius</key>
		<integer>69173</integer>
		<key>OrbitalPeriod</key>
		<real>4331.572</real>
		<key>ColorMapName</key>
		<string>jupiter2_1k</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Saturn</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>1433449370</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.5649999999999999</real>
			<key>Green</key>
			<real>0.588</real>
			<key>Blue</key>
			<real>0.145</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>0.4404166666</real>
		<key>Radius</key>
		<integer>57316</integer>
		<key>OrbitalPeriod</key>
		<real>10759.22</real>
		<key>ColorMapName</key>
		<string>saturnmap</string>
		<key>UseLighting</key>
		<true/>
		<key>InnerRingRadius</key>
		<integer>7000</integer>
		<key>OuterRingRadius</key>
		<integer>80000</integer>
	</dict>
	<key>Uranus</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.22</real>
			<key>Green</key>
			<real>0.659</real>
			<key>Blue</key>
			<real>0.831</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>-0.71833</real>
		<key>SemiMajorAxis</key>
		<integer>2876679082</integer>
		<key>Radius</key>
		<integer>25266</integer>
		<key>OrbitalPeriod</key>
		<real>30799.095</real>
		<key>ColorMapName</key>
		<string>uranusmap</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Neptune</key>
	<dict>
		<key>SemiMajorAxis</key>
		<integer>4503443661</integer>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.161</real>
			<key>Green</key>
			<real>0.396</real>
			<key>Blue</key>
			<real>0.796</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>0.6713</real>
		<key>Radius</key>
		<real>24552.5</real>
		<key>OrbitalPeriod</key>
		<integer>60190</integer>
		<key>ColorMapName</key>
		<string>neptunemap</string>
		<key>UseLighting</key>
		<true/>
	</dict>
	<key>Pluto</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>Red</key>
			<real>0.435</real>
			<key>Green</key>
			<real>0.518</real>
			<key>Blue</key>
			<real>0.549</real>
		</dict>
		<key>SiderealRotationPeriod</key>
		<real>-6.38723</real>
		<key>SemiMajorAxis</key>
		<integer>5906376272</integer>
		<key>Radius</key>
		<integer>1153</integer>
		<key>OrbitalPeriod</key>
		<integer>90613305</integer>
		<key>UseLighting</key>
		<true/>
		<key>ColorMapName</key>
		<string>plutomap1k</string>
	</dict>
</dict>
</plist>
